 {% if site.analytics.google %}
<section id="consent" class="fixed-bottom align-content-center" style="z-index: 1050; height: 100px; background-color: #541C6C">
    <div class="container d-flex p-0 justify-content-between align-items-center" style="width: 95% !important; max-width: none !important">
        <span class="text-white">We strictly use analytics cookies to improve our content. Do you consent?</span>

        <div class="d-flex gap-4">
            <button class="btn btn-success btn-sm" onclick="handleConsent(true)">Accept</button>
            <button class="btn btn-secondary btn-sm" onclick="handleConsent(false)">Decline</button>
        </div>
    </div>

    <script>
        function handleConsent(consent)
        {
            localStorage.setItem('ga-consent', consent ? 'granted' : 'denied');
            document.getElementById('consent').style.display = 'none';

            if (consent)
            {
                loadGoogleAnalytics();
            }
        }

        function loadGoogleAnalytics()
        {
            const scriptTag = document.createElement('script');
            scriptTag.src = "https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}";
            scriptTag.async = true;
            document.head.appendChild(scriptTag);

            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag("config", "{{ site.analytics.google }}");
        }

        (function checkConsent()
        {
            const consent = localStorage.getItem('ga-consent');

            if (consent == null)
            {
                document.getElementById('consent').style.display = 'flex';
            }
            else
            {
                document.getElementById('consent').style.display = 'none';

                if (consent === 'granted')
                {
                    loadGoogleAnalytics();
                }
            }
        })();
    </script>
</section>
{% endif %}