<!-- Contact -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="contact" style="background: background-image: url('../assets/img/map-image.png'); background-repeat: no-repeat; background-size: cover">

 <div class="container" style="display: flex; justify-content: flex-end; align-items: center;">
  <p style="color: #e36f9c !important;">Get In Touch: 
  <strong style="color: #ff80ed !important; margin-left: 5px;"><a href="mailto:DreamMatterLabs@protonmail.com" style="color: #db4693;">DreamMatterLab@protonmail.com</a></strong> </p>
</div>

</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
  <div class="container">
    <p>Get In Touch: <strong style="color: #ff80ed !important; background-color: --blue !important;"><a href="mailto:DreamMatterLabs@protonmail.com">DreamMatterLabs@protonmail.com</a></strong></p>
  </div>
</section>
{% endif %}
<!-- End Contact -->