<!-- Contact -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" style="background: linear-gradient(to bottom, rgba(104, 55, 121, 0.2), rgba(85, 39, 137, 0.2)), url('../img/map-image.png');" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
  <div class="container">
    <p>Get In Touch: <strong style="color: #ff80ed !important; background-color: --blue !important;"><a href="mailto:DreamMatterStudios@protonmail.com">DreamMatterStudios@protonmail.com</a></strong></p>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
  <div class="container">
    <p>Get In Touch: <strong style="color: #ff80ed !important; background-color: --blue !important;"><a href="mailto:DreamMatterStudios@protonmail.com">DreamMatterStudios@protonmail.com</a></strong></p>
  </div>
</section>
{% endif %}
<!-- End Contact -->