<!-- Contact -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
  <div class="container">
    <p>Get In Touch: <strong style="color: #ff80ed; background-color: #ffeecc;"><a href="mailto:DreamMatterStudios@protonmail.com">DreamMatterStudios@protonmail.com</a></strong></p>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
  <div class="container">
   <p>Get In Touch: <strong style="color: #ff80ed; background-color: #ffeecc;"><a href="mailto:DreamMatterStudios@protonmail.com">DreamMatterStudios@protonmail.com</a></strong></p>
  </div>
</section>
{% endif %}
<!-- End Contact -->