<!-- Footer -->
<footer class="footer" id="footer" style="background-color: #541C6C">
    <div class="container d-flex p-0" style="width: 95% !important; max-width: none !important">
        {% if site.locale and site.locale != "" and site.locale != nil %}
        <!-- Email and Privacy-->
        <div class="flex-grow-1 text-start">
            <ul class="list-inline quicklinks d-flex gap-4">
                <li class="list-inline-item m-0">
                    <a class="text-white hover-underline" style="font-family: Montserrat" href="mailto:DreamMatterLabs@protonmail.com">EMAIL US</a>
                </li>
                <li class="list-inline-item m-0">
                    <a class="text-white hover-underline" style="font-family: Montserrat" href="/privacy">{{ site.data.sitetext[site.locale].footer.legal | default: "PRIVACY POLICY" }}</a>
                </li>
            </ul>
        </div>

        <!--Copyright -->
        <div class="flex-grow-1 text-end">
            <span class="copyright" style="font-family: Montserrat">&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</span>
        </div>
        {% else %}
        <!-- Email and Privacy-->
        <div class="flex-grow-1 text-start">
            <ul class="list-inline quicklinks d-flex gap-4">
                <li class="list-inline-item m-0">
                    <a class="text-white hover-underline" style="font-family: Montserrat" href="mailto:DreamMatterLabs@protonmail.com">EMAIL US</a>
                </li>
                <li class="list-inline-item m-0">
                    <a class="text-white hover-underline" style="font-family: Montserrat" href="/privacy">{{ site.data.sitetext.footer.legal | default: "PRIVACY POLICY" }}</a>
                </li>
            </ul>
        </div>

        <!--Copyright -->
        <div class="flex-grow-1 text-end">
            <span class="copyright" style="font-family: Montserrat">&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</span>
        </div>
        {% endif %}
    </div>

    <style>
        .hover-underline
        {
            text-decoration: none;
            transition: color 0.3s ease-in-out;
        }

        .hover-underline:hover 
        {
            text-decoration: underline;
            color: #92dce5;
        }
    </style>
</footer>
{% if page.layout == "page" %}
<script>
    fixPageShort();

    function fixPageShort()
    {
        if (window.innerHeight > document.body.offsetHeight)
        {
            document.getElementById("footer").style.position = "fixed";
            document.getElementById("footer").style.bottom = 0;
            document.getElementById("footer").style.right = 0;
            document.getElementById("footer").style.left = 0;
            document.getElementById("footer").style.width = "100%";
        }
    }
</script>
{% endif %}