<!-- Header -->
<header class="masthead" style="width: 100%; aspect-ratio: 3 / 1; background-color: #3D144E; padding: 150px 50px 50px 50px">
    <div id="carouselExample" class="carousel slide d-flex h-100">
        <div class="d-flex h-100 align-items-center" style="position: absolute; left: 50px">
            <button class="button carousel-control-prev d-flex align-items-center justify-content-center border border-white border-2 rounded-circle" style="height: 50px; width: 50px; margin: auto" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <img style="height: 40px; width: 40px" src="/assets/img/timeline/previous_arrow.png" alt="Previous button.">
            </button>
        </div>

        <div class="carousel-inner h-100" style="background-color: #6B2489; border-radius: 20px">
            <div class="carousel-item active h-100" style="background-image: url(/assets/img/oneira/header.jpg); background-position: center; border-radius: 20px">
                <div class="col d-flex items-align-center mt-auto" style="position: absolute; bottom: 0; padding: 50px">
                    <div class="col-8 d-flex p-0 justify-content-start">
                        <h2 class="m-0" style="font-size: 2.5rem; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">INTRODUCING ONEiRA: OUR DEBUT GAME</h2>
                    </div>

                    <div class="col-4 d-flex p-0 justify-content-end">
                        <a class="btn btn-rounded fs-4 js-scroll-trigger" href="https://dreammatterlabs.com/2025/04/04/oneira-introduction/">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100" style="background-image: url(/assets/img/highlights/highlight_2.jpg); background-position: center; border-radius: 20px ">
                <div class="col d-flex items-align-center mt-auto" style="position: absolute; bottom: 0; padding: 50px">
                    <div class="col-8 d-flex p-0 justify-content-start">
                        <h2 class="m-0" style="font-size: 2.5rem; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">DREAM MATTER LABS x CAVE BEAR GAMES</h2>
                    </div>

                    <div class="col-4 d-flex p-0 justify-content-end">
                        <a class="btn btn-rounded fs-4 js-scroll-trigger" href="https://dreammatterlabs.com/2025/03/28/cave-bear-games-partnership/">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100" style="background-image: url(/assets/img/highlights/highlight_1.jpg); background-position: center; border-radius: 20px ">
                <div class="col d-flex items-align-center mt-auto" style="position: absolute; bottom: 0; padding: 50px">
                    <div class="col-8 d-flex p-0 justify-content-start">
                        <h2 class="m-0" style="font-size: 2.5rem; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">INTRODUCING DREAM MATTER LABS</h2>
                    </div>

                    <div class="col-4 d-flex p-0 justify-content-end">
                        <a class="btn btn-rounded fs-4 js-scroll-trigger" href="https://dreammatterlabs.com/2025/03/21/dream-matter-labs-introduction/">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-indicators position-absolute bottom-0" style="z-index: 5; margin: 0 0 25px 0">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="d-flex h-100 align-items-center" style="position: absolute; right: 50px">
            <button class="button carousel-control-next d-flex align-items-center justify-content-center border border-white border-2 rounded-circle" style="height: 50px; width: 50px; margin: auto" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <img style="height: 40px; width: 40px" src="/assets/img/timeline/next_arrow.png" alt="Next button.">
            </button>
        </div>
    </div>

    <style>
        .button {
            background-color: rgba(255, 255, 255, 0.25);
        }

            .button:hover {
                background-color: rgba(255, 255, 255, 0.50);
            }

        .carousel-indicators [data-bs-target] {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: white;
            border-width: 0;
            margin: 0 10px 0 10px;
            opacity: 0.5;
        }

        .carousel-indicators .active {
            opacity: 1;
        }
    </style>
</header>