<!-- Header -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<header class="masthead" style="height: 700px">
    <div class="container h-100 d-flex flex-column">
        <!--Empty-->
        <div class="col d-flex"></div>

        <!--Logo-->
        <div class="col d-flex align-items-center justify-content-center">
            <img class="img-fluid" style="max-width: 75%" src="/assets/img/oneira/logo.png" alt="ONEiRA logo.">
        </div>

        <!--Button-->
        {%- if site.data.sitetext[site.locale].header.button -%}
        <div class="col d-flex align-items-start justify-content-center">
            <a class="btn btn-rounded fs-4 fw-bold text-uppercase js-scroll-trigger"
               href="{{ site.data.sitetext[site.locale].header.buttonlink }}">
                {{ site.data.sitetext[site.locale].header.button }}
            </a>
        </div>
        {%- endif -%}
    </div>
</header>
{% else %}
<header class="masthead" style="height: 700px">
    <div class="container h-100 d-flex flex-column">
        <!--Empty-->
        <div class="col d-flex"></div>

        <!--Logo-->
        <div class="col d-flex align-items-center justify-content-center">
            <img class="img-fluid" style="max-width: 75%" src="/assets/img/oneira/logo.png" alt="ONEiRA logo.">
        </div>

        <!--Button-->
        {%- if site.data.sitetext.header.button -%}
        <div class="col d-flex align-items-start justify-content-center">
            <a class="btn btn-rounded fs-4 fw-bold text-uppercase js-scroll-trigger"
               href="{{ site.data.sitetext.header.buttonlink }}">
                {{ site.data.sitetext.header.button }}
            </a>
        </div>
        {%- endif -%}
    </div>
</header>
{% endif %}