<!-- Header -->
<header class="masthead" style="width: 100%; aspect-ratio: 3 / 1; background-color: #3D144E; padding: 150px 50px 50px 50px">
    <div id="carouselExample" class="carousel slide d-flex h-100" data-bs-ride="carousel">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <div class="carousel-inner h-100">
            <div class="carousel-item active h-100 d-flex p-5" style="background-image: url(/assets/img/oneira/header.jpg); background-position: center; border-radius: 20px">
                <div class="col d-flex p-0 items-align-center mt-auto">
                    <div class="col-8 d-flex p-0 justify-content-start">
                        <h2 style="font-size: 2.5rem; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">DREAM MATTER LABS x CAVE BEAR GAMES</h2>
                    </div>

                    <div class="col-4 d-flex p-0 justify-content-end">
                        <a class="btn btn-rounded fs-4 fw-bold text-uppercase js-scroll-trigger" href="https://dreammatterlabs.com/2025/03/28/cave-bear-games-partnership/">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100 d-flex p-5" style="background-image: url(/assets/img/oneira/header.jpg); background-position: center; border-radius: 20px">
                <div class="col d-flex p-0 items-align-center mt-auto">
                    <div class="col-8 d-flex p-0 justify-content-start">
                        <h2 style="font-size: 2.5rem; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">DREAM MATTER LABS x CAVE BEAR GAMES</h2>
                    </div>

                    <div class="col-4 d-flex p-0 justify-content-end">
                        <a class="btn btn-rounded fs-4 fw-bold text-uppercase js-scroll-trigger" href="https://dreammatterlabs.com/2025/03/28/cave-bear-games-partnership/">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item h-100 d-flex p-5" style="background-image: url(/assets/img/oneira/header.jpg); background-position: center; border-radius: 20px">
                <div class="col d-flex p-0 items-align-center mt-auto">
                    <div class="col-8 d-flex p-0 justify-content-start">
                        <h2 style="font-size: 2.5rem; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">DREAM MATTER LABS x CAVE BEAR GAMES</h2>
                    </div>

                    <div class="col-4 d-flex p-0 justify-content-end">
                        <a class="btn btn-rounded fs-4 fw-bold text-uppercase js-scroll-trigger" href="https://dreammatterlabs.com/2025/03/28/cave-bear-games-partnership/">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>   
</header>