<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <!-- Brand Logo -->
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="/assets/img/dreammatterlabs-logo.png" alt="DreamMatter Labs Logo" height="65">
        </a>
        
        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Items -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-uppercase">
                <!-- ONEiRA -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuItem1" role="button" aria-expanded="false" aria-controls="menuItem1">ONEiRA</a>
                    <div class="collapse dropdown-content" id="menuItem1">
                        <a class="dropdown-item" href="https://dreammatterlabs.com/">Visit ONEiRA</a>
                    </div>
                </li>
                <!-- About Us -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuItem2" role="button" aria-expanded="false" aria-controls="menuItem2">About Us</a>
                    <div class="collapse dropdown-content" id="menuItem2">
                        <a class="dropdown-item" href="/team/">Meet the Team</a>
                    </div>
                </li>
                <!-- Press Kit -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuItem3" role="button" aria-expanded="false" aria-controls="menuItem3">Press Kit</a>
                    <div class="collapse dropdown-content" id="menuItem3">
                        <a class="dropdown-item" href="https://drive.proton.me/urls/4KF4TVH6BW#biLotE7ERWMo">Download Press Kit</a>
                    </div>
                </li>
                <!-- Steam Page -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuItem4" role="button" aria-expanded="false" aria-controls="menuItem4">Steam Page</a>
                    <div class="collapse dropdown-content" id="menuItem4">
                        <a class="dropdown-item" href="https://dreammatterlabs.com/">Coming Soon</a>
                    </div>
                </li>
                <!-- Blog -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuItem5" role="button" aria-expanded="false" aria-controls="menuItem5">Blog</a>
                    <div class="collapse dropdown-content" id="menuItem5">
                        <a class="dropdown-item" href="/devlog/">Read the Devlog</a>
                    </div>
                </li>
            </ul>

            <!-- Social Icons -->
            <div class="social-icons ms-lg-3">
                <a href="https://x.com/DreamMatterLabs" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="https://bsky.app/profile/dreammatterlabs.bsky.social" target="_blank" aria-label="Bluesky"><i class="fa fa-bskyicon"></i></a>
                <a href="https://www.linkedin.com/company/dreammatterlabs" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/@DreamMatterLabs" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                <a href="https://discord.gg/g9Be9JtqV4" target="_blank" aria-label="Discord"><i class="fab fa-discord"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- End Navigation -->
