<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #8D41A1;">
    <div class="container navbar-container d-flex justify-content-between align-items-center">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            {%- if site.logo -%}
                <img src="{{ site.baseurl }}/assets/img/dreammatterlabs-logo.png" 
                     alt="DreamMatter Labs Logo"
                     style="max-height: 50px; width: auto;">
            {%- else -%}
                {{ site.title }}
            {%- endif -%}
        </a>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Items -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase">
                {% if site.locale and site.locale != "" and site.locale != nil %}
                    {% for link in site.data.navigation[site.locale].nav %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ link.url | default: '#'}}">
                                {{ link.title }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for link in site.data.navigation.nav %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ link.url | default: '#'}}">
                                {{ link.title }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <!-- Social Icons (Hidden on Small Screens) -->
        <div class="social-icons d-none d-lg-flex">
            <a href="https://x.com/DreamMatterLabs" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://bsky.app/profile/dreammatterlabs.bsky.social" target="_blank" aria-label="Bluesky"><i class="fa fa-bskyicon"></i></a>
            <a href="https://www.linkedin.com/company/dreammatterlabs" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.youtube.com/@DreamMatterLabs" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            <a href="https://discord.gg/g9Be9JtqV4" target="_blank" aria-label="Discord"><i class="fab fa-discord"></i></a>
        </div>
    </div>
</nav>
<!-- End Navigation -->

<!-- Responsive Social Icons (Visible on Small Screens) -->
<div class="social-icons text-center d-lg-none mt-3">
    <a href="https://x.com/DreamMatterLabs" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://bsky.app/profile/dreammatterlabs.bsky.social" target="_blank" aria-label="Bluesky"><i class="fa fa-bskyicon"></i></a>
    <a href="https://www.linkedin.com/company/dreammatterlabs" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.youtube.com/@DreamMatterLabs" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
    <a href="https://discord.gg/g9Be9JtqV4" target="_blank" aria-label="Discord"><i class="fab fa-discord"></i></a>
</div>