<section id="portfolio" style="background: linear-gradient(to bottom, #646464 0%, #3C3C3C 45%, #141414 90%)">
    <div class="container d-flex flex-column" style="padding-top: 50px; padding-bottom: 150px; row-gap: 100px">
        <!--Discord Invite-->
        <div class="section-header text-center text-white fs-4 fw-normal">
            <a href="https://discord.gg/XAYvJhkkqE" style="color: inherit; text-decoration: underline">JOIN OUR DISCORD TO FOLLOW DEVELOPMENT</a>
        </div>

        <!--First-->
        <div style="padding: 50px">
            <div class="row align-items-center g-md-5">
                <div class="col-12 col-md-6 text-start order-1">
                    <a class="portfolio-link" data-toggle="modal" href="#p1">
                        <img class="img-fluid project-image" src="/assets/img/oneira/picture_1.jpg" alt="ONEiRA picture 1.">
                    </a>
                </div>

                <div class="col-12 col-md-6 text-start text-md-left order-2">
                    <h2 class="text-white fs-4 fw-bold mb-3" style="font-family: Oxanium">Explore Surreal, Immersive Dreamscapes</h2>

                    <p class="text-light fs-4 m-0">In a world where dreams are sold as entertainment, it's your job to ensure that each experience is market-ready. Step into surreal dreamscapes as a maintenance worker and immerse yourself in serene yet fractured landscapes, where every dream holds a story waiting to be unraveled.</p>
                </div>
            </div>
        </div>

        <!--Second-->
        <div style="padding: 50px">
            <div class="row align-items-center g-md-5">
                <div class="col-12 col-md-6 text-start text-md-left order-2 order-md-1">
                    <h2 class="text-white fs-4 fw-bold mb-3" style="font-family: Oxanium">Uncover Secrets Buried in the Mind</h2>

                    <p class="text-light fs-4 m-0">Some memories don’t fade—they hide. As you navigate the minds behind the dreams, cryptic messages and lingering voices pull you deeper into a psychological mystery where the truth is waiting to be untangled. Sharpen your senses and dive into an unforgettable story.</p>
                </div>

                <div class="col-12 col-md-6 text-start order-1 order-md-2">
                    <a class="portfolio-link" data-toggle="modal" href="#p2">
                        <img class="img-fluid project-image" src="/assets/img/oneira/picture_2.jpg" alt="ONEiRA picture 2.">
                    </a>
                </div>
            </div>
        </div>

        <!--Third-->
        <div style="padding: 50px">
            <div class="row align-items-center g-md-5">
                <div class="col-12 col-md-6 text-start order-1">
                    <a class="portfolio-link" data-toggle="modal" href="#p3">
                        <img class="img-fluid project-image" src="/assets/img/oneira/picture_3.jpg" alt="ONEiRA picture 3.">
                    </a>
                </div>

                <div class="col-12 col-md-6 text-start text-md-left order-2">
                    <h2 class="text-white fs-4 fw-bold mb-3" style="font-family: Oxanium">Shape the Story with Every Decision</h2>

                    <p class="text-light fs-4 m-0">Tread carefully however, as every decision shapes the story and the dreamscapes around you. Listen closely to the characters that you encounter on your journey, as some may know more than they let on. Will you choose wisely and uncover the hidden truths or let them slip away?</p>
                </div>
            </div>
        </div>

        <!--Fourth-->
        <div style="padding: 50px">
            <div class="row align-items-center g-md-5">
                <div class="col-12 col-md-6 text-start text-md-left order-2 order-md-1">
                    <h2 class="text-white fs-4 fw-bold mb-3" style="font-family: Oxanium">A Mix of Puzzles, Platforming, & Exploration</h2>

                    <p class="text-light fs-4 m-0">ONEiRA is a narrative-driven puzzle-platformer that blends immersive storytelling with unique mechanics. Collect exciting abilities that help you solve puzzles, traverse obstacles, and explore the ever-shifting dreamscapes. Get ready to suit up and wishlist ONEiRA on Steam soon!</p>
                </div>

                <div class="col-12 col-md-6 text-start order-1 order-md-2">
                    <a class="portfolio-link" data-toggle="modal" href="#p4">
                        <img class="img-fluid project-image" src="/assets/img/oneira/picture_4.jpg" alt="ONEiRA picture 4.">
                    </a>
                </div>
            </div>
        </div>

        <!--Disclaimer-->
        <div class="col-12 text-center">
            <p class="fs-5 text-white m-0">ONEiRA is a work in progress, and the images shown may not reflect the final product.</p>
        </div>
    </div>

    <style>
        .project-image 
        {
            width: 100%;
            aspect-ratio: 16 / 9;
            border-radius: 20px;
            box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
            transition: box-shadow 0.3s ease-in-out;
        }

        .project-image:hover 
        {
            box-shadow: 0px 0px 30px 5px rgba(0, 255, 191, 0.50);
        }
    </style>
</section>
{% include modals.html %}