<section id="portfolio" style="background: linear-gradient(to bottom, #5B0557, #3A4175, #423B7A)">
    <div class="container d-flex flex-column" style="row-gap: 100px">
        <!-- Discord Invite -->
        <div class="section-header text-center" style="color: #ffffff; font-weight: normal; font-size: 24px; text-align: center;">
            <a href="https://discord.gg/XAYvJhkkqE" style="color: inherit; text-decoration: underline;">
                JOIN OUR DISCORD TO FOLLOW DEVELOPMENT
            </a>
        </div>

        <!-- First Project -->
        <div class="rounded-lg bg-transparent" style="padding: 50px">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 text-start text-md-left order-2 order-md-1">
                    <h2 style="color: #ffffff; margin-bottom: 1em; font-weight: bold;">Explore Surreal, Immersive Dreamscapes</h2>

                    <p class="text-light" style="font-size: 24px">In a world where dreams are sold as entertainment, it's your job to ensure that each experience is market-ready. Step into surreal dreamscapes and immerse yourself in serene yet fractured landscapes, where every dream holds a story waiting to be unraveled.</p>
                </div>

                <div class="col-12 col-md-6 text-start order-1 order-md-2">
                    <a class="portfolio-link" data-toggle="modal" href="#p1">
                        <img class="img-fluid rounded shadow-lg" src="/assets/img/portfolio/01-full.jpg" alt="Project 1" style="max-width: 100%; height: auto; border-radius: 25px;">
                    </a>
                </div>
            </div>
        </div>

        <!-- Second Project -->
        <div class="rounded-lg bg-transparent" style="padding: 50px">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 text-start order-1">
                    <a class="portfolio-link" data-toggle="modal" href="#p2">
                        <img class="img-fluid rounded shadow-lg" src="/assets/img/portfolio/02-full.jpg" alt="Project 2" style="max-width: 100%; height: auto; border-radius: 25px;">
                    </a>
                </div>

                <div class="col-12 col-md-6 text-start text-md-left order-2">
                    <h2 style="color: #ffffff; margin-bottom: 1em; font-weight: bold;">Uncover Secrets Buried in the Subconscious</h2>

                    <p class="text-light" style="font-size: 24px;">Some memories don’t fade—they hide. As you navigate the minds behind the dreams, cryptic messages and lingering voices pull you deeper into a psychological mystery where the truth is waiting to be untangled.</p>
                </div>
            </div>
        </div>

        <!-- Third Project -->
        <div class="rounded-lg bg-transparent" style="padding: 50px">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 text-start text-md-left order-2 order-md-1">
                    <h2 style="color: #ffffff; margin-bottom: 1em; font-weight: bold;">Shape the Story with Every Decision</h2>

                    <p class="text-light" style="font-size: 24px;">Every decision shapes the story and the dreamscape around you. Listen closely to the characters that you encounter, as some may know more than they let on. Will you uncover the hidden truths or let them slip away?</p>
                </div>

                <div class="col-12 col-md-6 text-start order-1 order-md-2">
                    <a class="portfolio-link" data-toggle="modal" href="#p3">
                        <img class="img-fluid rounded shadow-lg" src="/assets/img/portfolio/03-full.jpg" alt="Project 3" style="max-width: 100%; height: auto; border-radius: 25px;">
                    </a>
                </div>
            </div>
        </div>

        <!-- Fourth Project -->
        <div class="rounded-lg bg-transparent" style="padding: 50px">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 text-start order-1">
                    <a class="portfolio-link" data-toggle="modal" href="#p4">
                        <img class="img-fluid rounded shadow-lg" src="/assets/img/portfolio/01-full.jpg" alt="Project 4" style="max-width: 100%; height: auto; border-radius: 25px;">
                    </a>
                </div>

                <div class="col-12 col-md-6 text-start text-md-left order-2">
                    <h2 style="color: #ffffff; margin-bottom: 1em; font-weight: bold;">A Mix of Puzzles, Platforming, & Exploration</h2>

                    <p class="text-light" style="font-size: 24px;">ONEiRA is a narrative-driven puzzle-platformer that blends immersive storytelling with intricate mechanics. Collect unique abilities that help you solve puzzles, traverse obstacles, and explore ever-shifting dreamscapes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include modals.html %}