<!-- Portfolio Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" style="background: linear-gradient(to bottom, #aa5dbe, #7F70D9);" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].portfolio.text | markdownify }}</h3>
      </div>
    </div>

    <!-- First Section (Image Left, Text Right) -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <div class="portfolio-item">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-play fa-3x"></i>
            </div>
          </div>
          <div class="portfolio-media">
            <p><i>trailer</i></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-md-left">
        <h2 class="section-heading text-uppercase text-primary">Explore Surreal, Immersive Dreamscapes</h2>
        <p class="text-muted">
          In a world where dreams are sold as entertainment, it's your job to ensure that each experience is market-ready.
          Step into surreal dreamscapes and immerse yourself in serene yet fractured landscapes, where every dream holds a
          story waiting to be unraveled.
        </p>
      </div>
    </div>

    <!-- Second Section (Text Left, Image Right) -->
    <div class="row align-items-center">
      <div class="col-md-6 text-md-left">
        <h2 class="section-heading text-uppercase text-primary">Uncover Secrets Buried in the Subconscious</h2>
        <p class="text-muted">
          Some memories don’t fade—they hide. As you navigate the minds behind the dreams, cryptic messages and lingering
          voices pull you deeper into a psychological mystery where the truth is waiting to be untangled. Sharpen your
          senses and dive into an unforgettable story.
        </p>
      </div>
      <div class="col-md-6">
        <div class="portfolio-item">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-image fa-3x"></i>
            </div>
          </div>
          <div class="portfolio-media">
            <p><i>image</i></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.portfolio.text | markdownify }}</h3>
      </div>
    </div>

    <!-- First Section (Image Left, Text Right) -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <div class="portfolio-item">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-play fa-3x"></i>
            </div>
          </div>
          <div class="portfolio-media">
            <p><i>trailer</i></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-md-left">
        <h2 class="section-heading text-uppercase text-primary">Explore Surreal, Immersive Dreamscapes</h2>
        <p class="text-muted">
          In a world where dreams are sold as entertainment, it's your job to ensure that each experience is market-ready.
          Step into surreal dreamscapes and immerse yourself in serene yet fractured landscapes, where every dream holds a
          story waiting to be unraveled.
        </p>
      </div>
    </div>

    <!-- Second Section (Text Left, Image Right) -->
    <div class="row align-items-center">
      <div class="col-md-6 text-md-left">
        <h2 class="section-heading text-uppercase text-primary">Uncover Secrets Buried in the Subconscious</h2>
        <p class="text-muted">
          Some memories don’t fade—they hide. As you navigate the minds behind the dreams, cryptic messages and lingering
          voices pull you deeper into a psychological mystery where the truth is waiting to be untangled. Sharpen your
          senses and dive into an unforgettable story.
        </p>
      </div>
      <div class="col-md-6">
        <div class="portfolio-item">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-image fa-3x"></i>
            </div>
          </div>
          <div class="portfolio-media">
            <p><i>image</i></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  
  
      <!-- Three Section (Image Left, Text Right) -->
    <div class="row align-items-center mb-5">
      <div class="col-md-6">
        <div class="portfolio-item">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-play fa-3x"></i>
            </div>
          </div>
          <div class="portfolio-media">
            <p><i>trailer</i></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-md-left">
        <h2 class="section-heading text-uppercase text-primary">Shape the Story with Every Decisions</h2>
        <p class="text-muted">
        Tread carefully however as every decision shapes the story and the dreamscape around you. Listen closely to the characters that you encounter on your journey, as some may know more than they let on. Will you uncover the hidden truths or let them slip away?
        </p>
      </div>
    </div>
  
  
  
  
  
  
  
  
      <!--  Fourth Section (Text Left, Image Right) -->
    <div class="row align-items-center">
      <div class="col-md-6 text-md-left">
        <h2 class="section-heading text-uppercase text-primary">A Mix of Puzzles, Platforming, & Exploration</h2>
        <p class="text-muted">
          ONEiRA is a narrative-driven puzzle-platformer that blends immersive storytelling with intricate mechanics. Collect unique abilities that help you solve puzzles, traverse obstacles, and explore the ever-shifting dreamscapes. Get ready to suit up and wishlist ONEiRA on Steam today!"
        </p>
      </div>
      <div class="col-md-6">
        <div class="portfolio-item">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-image fa-3x"></i>
            </div>
          </div>
          <div class="portfolio-media">
            <p><i>image</i></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</section>
{% endif %}
{% include modals.html %}