<!-- Team -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" style="background: linear-gradient(to bottom, #5B0557, #3A4175, #423B7A)" id="{{ site.data.sitetext[site.locale].team.section | default: "team" }}">
    <div class="container d-flex flex-column" style="padding-top: 150px; padding-bottom: 50px; row-gap: 50px">
        <!--Tagline-->
        <div class="section-header text-center">
            <h1 class="fs-1 fw-bold text-uppercase text-white m-0">{{ site.data.sitetext[site.locale].team.text }}</h1>
        </div>

        <!--Team Members-->
        <div class="row d-flex justify-content-center">
            {% for person in site.data.sitetext[site.locale].team.people %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">

                    <h4 class="text-white">{{ person.name }}</h4>

                    <p class="text-muted2">{{ person.role }}</p>

                    <ul class="list-inline social-buttons">
                        {% for network in person.social %}
                        <li class="list-inline-item">
                            <a href="{{ network.url }}">
                                <i class="{{ network.icon }}"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<section class="page-section" style="background: linear-gradient(to bottom, #5B0557, #3A4175, #423B7A)" id="{{ site.data.sitetext.team.section | default: "team" }}">
    <div class="container d-flex flex-column" style="padding-top: 50px; padding-bottom: 50px; row-gap: 150px">
        <!--Tagline-->
         <div class="section-header text-center">
            <h3 class="m-0 fs-4 text-uppercase text-muted2">{{ site.data.sitetext.team.text }}</h3>
        </div>

        <!--Team Members-->
        <div class="row d-flex justify-content-center">
            {% for person in site.data.sitetext.team.people %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">

                    <h4 class="text-white">{{ person.name }}</h4>

                    <p class="text-muted2">{{ person.role }}</p>

                    <ul class="list-inline social-buttons">
                        {% for network in person.social %}
                        <li class="list-inline-item">
                            <a href="{{ network.url }}">
                                <i class="{{ network.icon }}"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}