<!-- Team -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" style="background-color: #47185C" id="{{ site.data.sitetext[site.locale].team.section | default: "team" }}">
    <div class="container d-flex flex-column" style="padding: 50px 0 50px 0; row-gap: 50px">
        <!--Tagline-->
        <div class="section-header text-center">
            <h1 class="fs-1 fw-bold text-uppercase text-white m-0">{{ site.data.sitetext[site.locale].team.text }}</h1>
        </div>

        <!--Team Members-->
        <div class="row d-flex justify-content-center">
            {% for person in site.data.sitetext[site.locale].team.people %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">

                    <h2 class="fs-3 fw-bold text-white mb-3 mt-3">{{ person.name }}</h2>

                    <p class="fs-5 text-muted2 mb-3">{{ person.role }}</p>

                    <ul class="list-inline social-buttons">
                        {% for network in person.social %}
                        <li class="list-inline-item">
                            <a href="{{ network.url }}">
                                <i class="{{ network.icon }}"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <img src="/assets/img/about/1.jpg" alt="Image 1" style="position: absolute; width: 50px; height: 50px; top: 10px; left: 10px;">
    <img src="/assets/img/about/1.jpg" alt="Image 2" style="position: absolute; width: 50px; height: 50px; bottom: 10px; right: 10px;">
</section>
{% else %}
<section class="page-section" style="background-color: #47185C" id="{{ site.data.sitetext.team.section | default: "team" }}">
    <div class="container d-flex flex-column" style="padding: 50px 0 50px 0; row-gap: 50px">
        <!--Tagline-->
        <div class="section-header text-center">
            <h1 class="fs-1 fw-bold text-uppercase text-white m-0">{{ site.data.sitetext.team.text }}</h1>
        </div>

        <!--Team Members-->
        <div class="row d-flex justify-content-center">
            {% for person in site.data.sitetext.team.people %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="">

                    <h2 class="fs-3 fw-bold text-white mb-3 mt-3">{{ person.name }}</h2>

                    <p class="fs-5 text-muted2 mb-3">{{ person.role }}</p>

                    <ul class="list-inline social-buttons">
                        {% for network in person.social %}
                        <li class="list-inline-item">
                            <a href="{{ network.url }}">
                                <i class="{{ network.icon }}"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}