<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" style="background-image: url('/assets/img/backgroundimage.jpg'); color: #ffdede; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;" id="{{ site.data.sitetext[site.locale].timeline.section | default: 'about' }}">
    <div class="container" style="padding-top: 50px; padding-bottom: 50px">
        <!--Header-->
        <div class="col-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].timeline.title | markdownify | default: "About" }}</h2>

            <h3 class="section-subheading" style="color: #ffffff;">{{ site.data.sitetext[site.locale].timeline.text | default: "timeline" }}</h3>
        </div>

        <!--Timeline-->
        <div class="col-12">
            <ul class="d-flex align-items-center justify-content-center">
                {%- for event in site.data.sitetext[site.locale].timeline.events -%}
                <li style="list-style: none">
                    <div class="d-flex h-100 w-100 border border-white rounded-circle align-items-center" style="background: #5B0557; border-width: 7px">
                        <h2 class="text-white fs-4 fw-bold">{{ event.year }}</h2>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!--Display-->
        <div class="rounded-lg bg-transparent" style="padding: 50px">
            <div class="row align-items-center g-md-5">
                <div class="col-12 col-md-6 text-start order-1">
                    <img class="img-fluid rounded" src="/assets/img/portfolio/01-full.jpg" alt="Project 1">
                </div>

                <div class="col-12 col-md-6 text-start text-md-left order-2">
                    <h2 class="text-white fs-4 fw-bold mb-3">2023: Jam Time</h2>

                    <p class="text-light fs-4 m-0">ONEiRA is conceptualized as 'Dreamwalker - Altered Reveries' and developed during LSDJAM 2023, a game jam celebrating surreal dream-inspired experiences and LSD: Dream Emulator. The team experiments with early mechanics, dreamlike aesthetics, and abstract storytelling.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.timeline.section | default: "about" }}">
    <div class="container" style="padding-top: 50px; padding-bottom: 50px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext.timeline.title | markdownify | default: "About" }}</h2>

                <h3 class="section-subheading" style="color: #ffffff;">{{ site.data.sitetext.timeline.text | default: "timeline" }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {%- assign align = site.data.sitetext.timeline.start_align -%}
                    {%- for event in site.data.sitetext.timeline.events -%}
                    {%- if align == "right" -%}
                    {%- if event.align and event.align == "left" -%}
                    {%- assign align = "right" -%}
                    <li>
                        {%- else -%}
                        {%- assign align = "left" %}
                    <li class="timeline-inverted">
                        {% endif %}
                        {% else %}
                        {%- if event.align and event.align == "right" -%}
                        {%- assign align = "left" -%}
                    <li class="timeline-inverted">
                        {%- else -%}
                        {%- assign align = "right" %}
                    <li>
                        {% endif %}
                        {%- endif -%}
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{{ event.image }}" alt="{{ event.alt | default: ""}}">
                        </div>

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ event.year | markdownify }}</h4>
                                <h4 class="subheading">{{ event.title }}</h4>
                            </div>

                            <div class="timeline-body">
                                <div class="text-muted" style="color: white;">{{ event.desc | markdownify }}</div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                    {% if site.data.sitetext.timeline.end %}
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>{{ site.data.sitetext.timeline.end }}</h4>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endif %}