<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
{% include head.html %}
{% include navheader.html %}
 <body id="page-top" class="{% if page.body_class %}{{ page.body_class }}{% endif %}">	
  {{ content }}
  {% include footer.html %}


<!--<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"> 
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" type="/text/css" href="{{ site.baseurl }}/css/main.css">
-->

<!--add body class to layouts-->


	  <!-- Bootstrap core JavaScript -->
	  <script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>


	  <!-- Plugin JavaScript -->
	  <script src="/assets/js/jquery.easing.min.js"></script> 

	  <!-- Contact form JavaScript -->
	  <script src="/assets/js/jqBootstrapValidation.js"></script>
	  <script src="/assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	   <script src="/assets/js/agency.min.js"></script> 


</body>
</html>
<!--
	  <script src="{{ '/assets/js/agency.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>

<script src="{{ '/assets/js/bootstrap.bundle.js' | relative_url }}"></script>
-->
