---
layout: devlog
---

<div class="flex flex-wrap gap-y-8 gap-x-12 max-w-prose mx-auto pb-8">
  <div class="break-inside-avoid-column">
    <h1 class="text-xl xl:text-3xl py-4">Etiquetas</h1>
    <ul class="list-disc list-inside tag-list">
      {% for tag in site.tags %}
      <li class="text-lg py-1"><a href="#{{ tag[0] }}" class="underline md:no-underline hover:underline">#{{ tag[0] }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="break-inside-avoid-column">
    <h2 class="text-xl xl:text-2xl py-4">Publicaciones por Etiqueta</h2>
    {% for tag in site.tags %}
    <h3 id="{{ tag[0] }}" class="text-lg md:text-xl py-3 md:pb-4 md:pt-6"># {{ tag[0] }}</h3>
    <ul class="list-disc list-inside ">
      {% for post in tag[1] %}
      <li class="text-slate-500 dark:text-slate-200 py-2"><a href="{{ post.url | relative_url }}" class="text-slate-700 dark:text-slate-100 underline md:no-underline hover:underline">{{ post.title }}</a> {{ post.date | date: "%d-%m-%Y" }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>


<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">


{% include head.html %}
  <body id="page-top">	
      {{ content }}

	  {% include footer.html %}

<!--<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"> 
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" type="/text/css" href="{{ site.baseurl }}/css/main.css">
-->


	  <!-- Bootstrap core JavaScript -->
	  <script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>


	  <!-- Plugin JavaScript -->
	  <script src="/assets/js/jquery.easing.min.js"></script> 

	  <!-- Contact form JavaScript -->
	  <script src="/assets/js/jqBootstrapValidation.js"></script>
	  <script src="/assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	   <script src="/assets/js/agency.min.js"></script> 


  </body>
</html>
<!--
	  <script src="{{ '/assets/js/agency.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>

<script src="{{ '/assets/js/bootstrap.bundle.js' | relative_url }}"></script>
-->
