---
layout: default
title: "Devlog & Updates"
permalink: /devlog/
---
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in site.posts %}
        <div class="post-preview">
          <a href="{{ post.url | relative_url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            {% if post.subtitle %}
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date: "%B %d, %Y" }}</p>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>