// Styling for the team section
.team-member {
    margin-bottom: 50px;
    text-align: center;

    img {
        width: 225px;
        height: 225px;
        border: 7px solid fade-out($black, 0.9);
    }

    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }

    p {
        margin-top: 0;
    }
}

ul.social-buttons {
    margin-bottom: 0;

    li {
        a {
            font-size: 20px;
            line-height: 50px;
            display: block;
            width: 50px;
            height: 50px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            color: white;
            border-radius: 100%;
            outline: none;
            background-color: #212529;
            box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);

            &:hover {
                box-shadow: 0px 0px 30px 5px rgba(146, 220, 229, 0.50);
            }
        }
    }
}